/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: white;
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color: black; /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 {
    color:red;
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif       
}

h2 {
    color:red;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3 {
    color:red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif   
}

h4 {
    color:red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p {
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

a:link {
    color:red;
}

a:visited {
    color: blue
}

a:hover {
    color:black;
}

a:active {
    color:white
}

a,
a * {
    
}

button {
    /* Example Style, replace with your own! */
    background-color: blue;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    border-radius: 12px;
    padding: 10px 20px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
            
}

ul {
    color:white;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

button:hover {
  background-color: red;
  font-weight: bold;
    /* Make the button look different when the user hovers over it */
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header-container { /* Example A: This styles elements with class="header" */
    display: flex;                  /* side-by-side layout */
    flex-direction: row;  /* push left and right apart */
    justify-content: space-evenly;
    align-items:center;
    text-align: center; 
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.header-item:nth-of-type(1){
  width: 60%;                     /* right column */
  text-align: left;
  margin-bottom: 10px;
}
.header-item:nth-of-type(2){
  width: 40%;                     /* right column */
  text-align: left;
  margin-bottom: 10px; 
}

#header-img{
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
}

.header-button{
  background-color: white; 
  color: white;             
  font-size: 16px;    
  text-align: center;    
  padding: 10px 20px;          
  margin: 50px;                 
  border: none;                
  border-radius: 5px;          
  cursor: pointer;
}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #11004f;
}

/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 60px;
    background-color: white;
    border: 2px solid #ff3333;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li {
    float: left;
    margin: 10px;
    border: none;               /* hides the default border */
    border-radius: 12px;
    padding: 10px 20px;          /* space between button's text and edge */
    border-radius: 5px;        /* curved edges instead of square */
    background-color: red;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: auto;
}

.navbar ul li a:hover {
    color: blue;
    font-weight: bold;
}
/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}

#schedule {
  text-align: center;
  background-color: white;
}
.schedule-container{
    display: flex;
    flex-direction: row;
}
.schedule-item:nth-of-type(1){
    width:40%;
    text-align: center;
}
.schedule-item:nth-of-type(2){
    width:40%;
    text-align: center;
}
.schedule-item:nth-of-type(3){
    width:40%;
    text-align: center;
}

#links {
  text-align: left;
  background-color: white;
}